{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp And SignIn | Django</title>
    <link rel="stylesheet" href='{% static "verify/css/home.css" %}'>
</head>
<body>
    <!-- iss page pe user tab aayega jab usne logout karliya ho apne account ko  -->
    {% for message in messages %}
        {% if message.tags == "success" %}

            <div class="submit-contact green">
                <div class="left-part">
                    <div id = "message1"><strong>Message: </strong></div>
                    <div id = "message2">{{message}}</div>
                </div>
                <div class="right-part">
                    <svg  onclick="cross_clicked()" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </div>
            </div>
        {% endif %}

    {% endfor %}

    <div class="container">
        <div class="heading">
            <h1>Welcome To Om's Auth Page</h1>
        </div>
        <div class="buttons">
            <a href="{% url 'signup' %}"><button class="signup btn">Signup</button></a>
            <a href="{% url 'signin' %}"><button class="signin btn">Signin</button></a>
        </div>
    </div>
    
</body>
<script>
    // Agar Cross button pe click ho to Us container ko hi gayab kardo
    function cross_clicked(){
        document.querySelector(".submit-contact").style.display = "none"
    }

</script>
</html>