{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
    <link rel="stylesheet" href='{% static "verify/css/signup.css" %}'>
</head>
<body>
    <div class="container">
       <div class="signupBox">
            <div class="left">
                <div class="box-heading">
                    <h1>Sign up</h1>
                </div>
                <form>
                    {{form.as_p}}
                </form>
            </div>
            <div class="right">
                <img src="{% static 'verify/images/signup-image.jpg' %}" alt="">
            </div>
       </div>
    </div>
</body>
</html>